[MANUAL_EXPLORE_SERVER]
# Manual Explore Server Host Name
manualexploreserverhost = localhost
ME_location = c:\DAST_Auto\AppScanPresence-Win_x86_64\Automation\
HAR2HTD_location = c:\DAST_Auto\HAR2HTD\

# The Port number that the MSE Host will listen for commands
# These commands come over http
commandport = 9999

# The port that MSE listens on to capture traffic
#Proxy selenium traffic through this port
listeningport = 19995

[SELENIUM]
# Command that runs to start the Selenium Script
# This script specifies the proxy host and port number
# as parameters
scriptCmd = python c:\dast_auto\Selenium_Altoro_ViewAcctDetails.py -m ${MANUAL_EXPLORE_SERVER:manualexploreserverhost} -p ${MANUAL_EXPLORE_SERVER:listeningport}

[APPSCAN]
# The template name to base the scan off of
# if one doesn't already exist
templatename = Automation Template

# The starting URL added to the scan job
startingurl = http://appscanvm:8088/AltoroJ/

# Test credentials to use in the scan
# Login Type is set to 'Automatic'
testuserName = jsmith
testpassword = demo1234

# Name of the scan job
scanjobname = AltoroJ 3.1.1 Automated

# ID of the app to associate the scan with
# You can find this in the URL when you view the app
# in monitor view in ASE
appid = 206

# The folder name to look for the scan
# or the folder where one is created
foldername = Automation

